/*Variables*/
@import "generales";
@import "colores";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

/*Header y Navbar*/
.header {
    min-height: 100vh;
    width: $anchura_max;
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)), url("../assets/header.jpg"); /*Gradiente*/
    background-position: $cen;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: $cen;
}

.nav-links {
    flex: 1;
    text-align: right;

    ul li {
        list-style: $no;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        cursor: pointer;
        
        a {
            color: $humo;
            text-decoration: $no;
            font-size: 15px;
        }
    }
}

.nav-links ul li::after {
    content: '';
    height: 2px;
    width: 0px;
    background: $bordo;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: $anchura_max;
}

.logo {
    text-decoration: $no;
    font-size: 35px;
    color: $negro;
    cursor: pointer;
    text-shadow: 2px 2px 4px $humo;
}

.text-box {
    width: 90%;
    color: $humo;
    position: absolute;
    top: 35%;
    left: 5.5%;
    text-align: $cen;

    h1 {
        font-size: 62px;
        color: $blanco;
    }

    p {
        margin: 10px 0 40px;
        font-size: 20px;
        color: $humo;
    }
}

.conoce-btn {
    display: inline-block;
    text-decoration: $no;
    color: $humo;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

    &:hover {
        border: 1px solid $bordo;
        background-color: $bordo;
        transition: 1s;
    }
}


nav .bi {
    display: $no;
}


.bounce-in-top {
	-webkit-animation: bounce-in-top 1.4s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
	        animation: bounce-in-top 1.4s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

@keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }  


@media(max-width: 700px) {
    
    
    .text-box h1 {
        font-size: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: $bordo;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .bi {
        display: block;
        color: $humo;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        }

    .nav-links ul {
        padding: 30px;
        overflow-x: hidden;
    }
}

/* Sobre */
.sobre {
    width: 80%;
    margin: auto;
    text-align: $cen;
    padding-top: 100px;
    margin-bottom: 7%;

    h2 {
        font-size: 36px;
        font-weight: 600;
    }

    p {
        color: #777;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
}

.row1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.sobre-col {
    flex-basis: 31%;
    background-color: #fbecec;
    border-radius: 10px;
    margin-bottom: 5;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

    h3 {
        text-align: $cen;
        font-weight: 600;
        margin: 10px 0;
    }

    &:hover {
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    }
}

@media(max-width: 700px) {
    .row1 {
        flex-direction: column;
    }

    .sobre-col {
        margin-top: 10%;
    }
}

/* Sedes */
.sedes {
    width: 80%;
    margin: auto;
    text-align: $cen;
    padding-top: 70px;

    h2 {
        font-size: 36px;
        font-weight: 600;
    }

    p {
        color: #777;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
}

.row2 {
    display: flex;
    justify-content: space-between;
 
}

.sede-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    overflow: hidden;

    img {
        width: $anchura_max;
        display: block;
    }
}

.layer { 
    background: transparent;
    height: $altura_max;
    width: $anchura_max;
    position: absolute;
    top: 0;
    left: 0;

    h3 {
        width: $anchura_max;
        font-weight: 500;
        color: $blanco;
        font-size: 26px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%); /*Transform - Translate*/
        position: absolute;
        opacity: 0;
        transition: 0.7s;
        cursor: pointer;
    }

    &:hover {
        background:  rgba(266,0,0,0.4);
    
        h3 {
            bottom: 49%;
            opacity: 1;
        }
    }
}

@media(max-width: 700px) {
    
    .row2 {
        display: flex;
        flex-direction: column;
    }
}

/*Acción*/
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../assets/17550253_web1_190702-VNE-Baby-Breach.jpg);
    background-position: $cen;
    background-size: cover;
    border-radius: 10px;
    text-align: $cen;
    padding: 100px 0;

    h3 {
        color: $humo;
        margin-bottom: 40px;
        padding: 0;
        font-size: 33px;
    }    
}

@media(max-width: 700px) {
    .cta h3 {
        font-size: 20px;
        
    }
}

/*Footer*/
.footer {
    width: $anchura_max;
    text-align: $cen;
    padding: 30px 0;

    h4 {
        margin-bottom: 25px;
        margin-top: 10px;
        font-weight: 800;
    }

    p {
        color: #777;
    }

    a {
        text-decoration: $no;

        &:hover {
            color:$bordo;
        }
    }
}

.icons .bi{
    color:$bordo;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.copyright {
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 10px;
}

/*Orcas*/
.sub-header {
    height: 50vh;
    width: $anchura_max;
    background-image: linear-gradient(rgba(4,9,3,0.5),rgba(4,9,3,0.5)),url(../assets/header.jpg);
    background-position: $cen;
    background-size: cover;
    text-align: $cen;
    color: $blanco;

    h1 {
        margin-top: 50px;
    }
}

.orcas {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.orca-col {
    flex-basis: 48%;
    padding: 30px 2px;

    img {
        width: $anchura_max;
        padding-top: 5.5rem;
    }

    h2 {
        padding-top: 0;
        padding-bottom: 0;
    }

    p {
        padding: 15px 0 25px;
        text-align: justify;
    }
}


.red {
    border: 1px solid $bordo;
    background: transparent;
    color: $bordo;

    &:hover {
        color: $humo;
    }
}

@media(max-width: 700px){
    .row3 {
        display: flex;
        flex-direction: column;
    }
}

.inicio {
    text-align: $cen;
    padding: 0;
    margin: 50px auto;

    a {
        text-decoration: $no;

        &:hover {
            display: inline-block;
            position: relative;
            color:$bordo;
          }
    }
}

/*Encuentros*/
.encuentros-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    padding-bottom: 0;
}

.row4 {
    display: flex;
    flex-direction: row;
}

.enc-left {
    flex-basis: 65%;

    img {
        width: $anchura_max;
    }

    h2 {
        font-size: 25px;
        font-weight: 600;
        margin: 25px 0;
    }

    p {
        padding: 0;
        text-align: justify;
    }
}

.enc-right {
    width: 40%;
    margin-left: 4rem;

    h3 {
        width: $anchura_max;
        text-align: $cen;
        background: $bordo;
        color: $blanco;
        padding: 7px 50px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    div {
        display: flex;
        align-items: $cen;
        justify-content: space-between;
        padding: 8px;
        box-sizing: border-box;
    }
}

@media(max-width: 700px){
    .row4 {
        display: flex;
        flex-direction: column;
    }

    .enc-left h2 {
        text-align: $cen;
    }

    .enc-right {
        width: 80%;
        margin-right: 10rem;
    }

    .galeria-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        padding-left: 0px;
    }

    .galeria-item:nth-child(1) {
    grid-column-start: span 3;
     }

     .galeria-item:nth-child(2) {
    grid-column-start: span 3;
     }

    .galeria-item:nth-child(3) {
    grid-column-start: span 3;
    grid-row-start: span 2;
     }

    .galeria-item:nth-child(4) {
    grid-column-start: span 3;
     }

    .galeria-item:nth-child(5) {
    grid-column-start: span 3;
    grid-row-start: span 3;
     }

    .galeria-item:nth-child(6) {
    grid-column-start: span 3;
     }

    .galeria-item:nth-child(7) {
    grid-column-start: span 3;
    grid-row-start: span 3;
     }

    .galeria-item:nth-child(8) {
    grid-column-start: span 1;
    grid-row-start: span 1;
    }

    .galeria-item:nth-child(9) {
    grid-column-start: span 3;
    grid-row-start: span 3;
    }
}

/* Galería */
.galeria-container {
    width: 90%;
    margin: auto;
    margin-top: 0;
    padding: 60px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    
}

.galeria-item img { /*Grids*/
    width: $anchura_max;
    height: $altura_max;
    object-fit: cover;
}

.galeria-item:nth-child(1) {
    grid-row-start: span 2;
}

.galeria-item:nth-child(2) {
    grid-row-start: span 2;
}

.galeria-item:nth-child(3) {
    grid-row-start: span 4;
}

.galeria-item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 3;
}

.galeria-item:nth-child(5) {
    grid-row-start: span 1;
}

.galeria-item:nth-child(6) {
    grid-row-start: span 4;
}

.galeria-item:nth-child(7) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.galeria-item:nth-child(8) {
    grid-row-start: span 2;
    grid-column-start: 2;
}

.galeria-item:nth-child(9) {
    grid-row-start: span 2;
}

/*FAQ*/
.accordion {
    margin: 60px auto;
    width: 800px;

    li {
        list-style: $no;
        width: $anchura_max;
        margin: 20px;
        padding: 10px;
        border-radius: 8px;
        background:#fbecec;
        box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                    -6px -6px 10px -1px rgba(255,225,255,0.7);

                    label {
                        display: flex;
                        align-items: $cen;
                        padding: 10px;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                    }
    }

    .content {
        padding: 0 10px;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s; /*Transition*/
    }
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: $no;
}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
    content: '-';
}

@media(max-width: 700px){
    .accordion {
      margin: 30px 10px;
      width: 200px;
    }
}

@media(max-width: 1024px){
    .accordion {
        width: 600px;
        margin-left: 3rem;
    }
}

/*Contacto*/
.ubicacion {
    width: 80%;
    margin: auto;
    padding: 80px 0;

    iframe {
        width: $anchura_max;
    }    
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;

    div {
        display: flex;
        align-items: $cen;
        margin-bottom: 40px;

        .bi {
            font-size: 28px;
            color:$bordo;
            margin: 10px ;
            margin-right: 30px;
        }

        p {
            padding: 0;
            color: rgb(167, 162, 162);
        }

        h5 {
            font-size: 20px;
            margin-bottom: 5px;
            color: $negro;
            font-weight: 400;
        }
        
    }

    input, textarea {
        width: $anchura_max;
        padding: 15px;
        margin-bottom: 17px;
        outline: $no;
        border: 1px solid #ccc;
    }
}

@media(max-width: 700px){
    .contact-col input, .contact-col textarea {
        width: 54vh;
    }
}
